* {
    font-family: 'Noto Sans KR', sans-serif;
    box-sizing: border-box;
    margin: 0;
}

footer {
    background-color: #002050;
}

footer p {
    padding: 1rem;
    color: #fff;
    text-align: center;
}