* {
    font-family: 'Noto Sans KR', sans-serif;
    box-sizing: border-box;
}

.comment-modal {
    font-family: 'Noto Sans KR', sans-serif;
}

.comment-list {
    max-height: 20rem;
    overflow-y: auto;
    margin-top: 3rem;
    margin-bottom: 1rem;
}

.comment-item {
    display: flex;
    align-items: flex-start;
    margin-bottom: 1rem;
    padding: 0.75rem 0;
}

.comment-profile-image {
    width: 3rem;
    height: 3rem;
    border-radius: 0.5rem;
    margin-right: 0.75rem;
}

.comment-content {
    flex: 1;
}

.comment-author {
    font-weight: bold;
    color: #002050;
    margin-right: 0.5rem;
}

.comment-time {
    font-size: 0.75rem;
    color: rgba(0, 32, 80, 0.7);
}

.comment-input-container {
    margin-top: 1rem;
}

.comment-input {
    width: 100%;
    padding: 0.625rem;
    border: 0.0625rem solid rgba(0, 32, 80, 0.3);
    border-radius: 0.5rem;
    resize: none;
    min-height: 3.75rem;
    background-color: #ffffff;
}

.comment-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 0.20rem;
    color: rgba(0, 32, 80, 0.3)
}

.submit-comment {
    padding: 0.5rem 0.75rem;
    background-color: #0066ff;
    border-radius: 0.5rem;
    color: #ffffff;
    cursor: pointer;
}

.submit-comment:hover {
    background-color: #002050;
}