.notification-icon {
    position: relative;
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
}

.notification-dot {
    position: absolute;
    top: 0;
    right: 0;
    background-color: red;
    border-radius: 50%;
    width: 0.5rem;
    height: 0.5rem;
}
