.form-container {
  margin: 0 auto; /* 가운데 정렬 */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-container h3 {
  text-align: center;
  color: #002050;
  width: 100%;
  margin-bottom: 20px;
}

.form-container input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #0066ff;
  border-radius: 5px;
}

.form-container button {
  width: 100%;
  background-color: #002050;
  color: white;
  border: 1px solid #002050;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
}

.form-container button:hover {
  background-color: #0040ff; /* 버튼 호버 시 배경색 변경 */
}

.error {
  color: red; /* 에러 메시지 색상 */
  text-align: center;
}

.message {
  color: green; /* 성공 메시지 색상 */
  text-align: center;
}
